* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
  }
  
  html {
    scroll-behavior: smooth;
  }
  
  body {
    background: linear-gradient(rgb(52, 72, 92), rgb(57, 47, 143));
  }
  
  .button-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
    background: rgba(255, 255, 255, 0.8);
    padding: 10px;
    border-radius: 10px;
  }
  
  section {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 40px 20px;
    color: #fff;
  }
  
  .container {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
  }
  .content .image {
    width: 100%;
    max-width: 600px;
    height: auto;
    overflow: hidden;
  }
  
  .content .image img {
    width: 100%;
    height: auto;
    object-fit: cover;
    border-radius: 10px;
    z-index: 10;
  }
  
  .main-title {
    font-size: 2rem;
    margin-bottom: 20px;
  }
  
  .content {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
 
  
 
  
  .content .text-box {
    background: rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(20px);
    padding: 20px;
    border: 1px solid rgba(255, 255, 255, 0.1);
    border-radius: 10px;
    margin: 20px 0;
    transform: translate(0, 0);
  }
  
  .content .text-box h3 {
    font-size: 1.5rem;
    margin-bottom: 10px;
  }
  
  .section-title {
    font-size: 1.8rem;
    margin-bottom: 20px;
  }
  
  .info-title {
    font-size: 1.2rem;
    margin-bottom: 10px;
    
  }
  
  .info {
    background: rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(20px);
    padding: 20px;
    border: 1px solid rgba(255, 255, 255, 0.1);
    border-radius: 10px;
    margin: 20px 0;
    transform: translate(0, 0);
    width: 100%;
    text-align: center;
    margin: 10px 0;
  }
  
  .media-info {
    width: 100%;
    text-align: center;
    margin: 10px 0;
  }
  
  .media-info ul {
    list-style: none;
  }
  
  .media-info h4 {
    font-size: 1rem;
    margin-bottom: 10px;
  }
  
  .media-info h4 a {
    text-decoration: none;
    color: #fff;
  }
  /* ホバーエフェクトのスタイル */
.media-info h4 a:hover {
    font-size: 1.1em; /* タップしたときのフォントサイズの変更 */
    color: #007BFF; /* タップしたときのテキストの色の変更（お好みで変更） */
  }
  
  /* リンクに下線を追加 */
  .media-info h4 a {
    text-decoration: none;
  }
  .button-container.right-align {
    text-align: right;
  }

  .button-container.right-align .button {
    width: 2000px; /* お好みの大きさに調整 */
    height: 150px; /* お好みの大きさに調整 */
    font-size: 25px; /* お好みのフォントサイズに調整 */
  }
  